html {
    background-color:rgb(95, 158, 160);
    background-image:url(images/1-big-viburnum.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.header {
    background-color:rgba(240, 255, 255, 50%);
    padding:30px;
}

.main {
    background-color:rgb(250, 235, 215);
    padding: 30px;
}
